.fondoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}


.contenedorImg {
  position: relative;
}

.contenedorText {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.788);
  color: #fff;
  padding: 10px;
  width: 100%;
}

.contenedorBotones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.contenedorBotones{
    display: flex;
    color: #fff;
}

.contenedorBotones button{
    background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 15px;
  margin-left: 10px;
}

.contenedorBotones button:hover {
    background-color: #45a049;
  }
  .contenedorBotones button:active {
    background-color: #3e8e41;
  }